In [1]:
import re
import nltk
import random
import pandas as pd
from urllib import request
from nltk import pos_tag
from nltk.corpus import gutenberg, stopwords, wordnet
from nltk.tokenize import regexp_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk import ngrams

In [2]:
nltk.download('stopwords')
nltk.download('gutenberg')
nltk.download('punkt')
nltk.download('omw-1.4') 
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to C:\Users\Al-Yousr
[nltk_data]     Store\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package gutenberg to C:\Users\Al-Yousr
[nltk_data]     Store\AppData\Roaming\nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Al-Yousr
[nltk_data]     Store\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package omw-1.4 to C:\Users\Al-Yousr
[nltk_data]     Store\AppData\Roaming\nltk_data...
[nltk_data] Downloading package wordnet to C:\Users\Al-Yousr
[nltk_data]     Store\AppData\Roaming\nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Al-Yousr Store\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

In [3]:
pinocchio = "https://www.gutenberg.org/files/500/500-0.txt"
pan = "https://www.gutenberg.org/files/16/16-0.txt"
oz = "https://www.gutenberg.org/files/55/55-0.txt"
alice = "https://www.gutenberg.org/files/11/11-0.txt"
gulliver = "https://www.gutenberg.org/files/829/829-0.txt"
books_list = [pinocchio , pan , oz , alice , gulliver]

In [4]:
def get_word_net_pos(tag):
    if tag.startswith("J"):
        return wordnet.ADJ
    elif tag.startswith("V"):
        return wordnet.VERB
    elif tag.startswith("N"):
        return wordnet.NOUN
    elif tag.startswith("R"):
        return wordnet.ADV
    else :
        return wordnet.NOUN

In [5]:
response = request.urlopen(pinocchio)
lines = (response.read().decode('utf8')).lower()
book = regexp_tokenize(lines,r'([a-zA-Z]{3,})[\,|\s|\.]')
tokens = [token for token in book if token.lower() not in stop_words]

In [6]:
len(book)

31617

In [7]:
len(tokens)

18933

In [8]:
books =[]
for i in range(200) :
    start = random.randint(0 , len(tokens) - 100)
    books.append([' '.join(tokens[start: start + 100])])    
df = pd.DataFrame(books, columns=["partitions"])

In [9]:
df["labels"] = "Carlo Lorenzini"

In [10]:
df

                                            partitions           labels
0    rain great spectacle take place eleven clock m...  Carlo Lorenzini
1    one hundred years today however room mine said...  Carlo Lorenzini
2    lucky mice would fox asked marionette waiting ...  Carlo Lorenzini
3    pigeon wanting thanks kind deed flew away swif...  Carlo Lorenzini
4    one fine day piece wood found shop old carpent...  Carlo Lorenzini
..                                                 ...              ...
195  immediately famous doctors neighborhood come o...  Carlo Lorenzini
196  crying heart would break marionette mourned ho...  Carlo Lorenzini
197  fight mastro antonio two scratches nose geppet...  Carlo Lorenzini
198  air began know upon time wooden marionette tod...  Carlo Lorenzini
199  fault many friends among many known rascals ca...  Carlo Lorenzini

[200 rows x 2 columns]

In [13]:
for i in range(200):
    sent=""
    x = nltk.pos_tag((df.partitions[i]).split())
    for word,tag in x:
        lemma = lemmatizer.lemmatize(word,pos=get_word_net_pos(tag))
        sent += lemma+" "
        df.partitions[i] = sent

In [14]:
lemmatizer = WordNetLemmatizer()

In [15]:
df

                                            partitions           labels
0    rain great spectacle take place eleven clock m...  Carlo Lorenzini
1    one hundred year today however room mine say m...  Carlo Lorenzini
2    lucky mouse would fox asked marionette wait fa...  Carlo Lorenzini
3    pigeon want thanks kind deed fly away swiftly ...  Carlo Lorenzini
4    one fine day piece wood find shop old carpente...  Carlo Lorenzini
..                                                 ...              ...
195  immediately famous doctor neighborhood come on...  Carlo Lorenzini
196  cry heart would break marionette mourn hour le...  Carlo Lorenzini
197  fight mastro antonio two scratch nose geppetto...  Carlo Lorenzini
198  air begin know upon time wooden marionette tod...  Carlo Lorenzini
199  fault many friend among many know rascal care ...  Carlo Lorenzini

[200 rows x 2 columns]

In [16]:
list[df.partitions]

list[0      rain great spectacle take place eleven clock m...
1      one hundred year today however room mine say m...
2      lucky mouse would fox asked marionette wait fa...
3      pigeon want thanks kind deed fly away swiftly ...
4      one fine day piece wood find shop old carpente...
                             ...
195    immediately famous doctor neighborhood come on...
196    cry heart would break marionette mourn hour le...
197    fight mastro antonio two scratch nose geppetto...
198    air begin know upon time wooden marionette tod...
199    fault many friend among many know rascal care ...
Name: partitions, Length: 200, dtype: object]

In [17]:
vectorizer = CountVectorizer()
bow_model = vectorizer.fit(df.partitions)
X = bow_model.transform(df.partitions)
df_bow_sklearn = pd.DataFrame(X.toarray(),columns = bow_model.get_feature_names())
df_bow_sklearn

C:\Users\Al-Yousr Store\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abandon,able,accept,accepted,access,accord,accordance,account,accustom,acquire,...,year,yell,yellow,yes,yesterday,yet,yolk,young,zip,zum
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
197,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
198,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
vectorizer = TfidfVectorizer()
tf_idf_model = vectorizer.fit(df.partitions)
tf_idf_out=tf_idf_model.transform(df.partitions)
feature_names = tf_idf_model.get_feature_names_out()
dense = tf_idf_out.todense()
denselist = dense.tolist()
df1 = pd.DataFrame(denselist, columns=feature_names)
df1

,abandon,able,accept,accepted,access,accord,accordance,account,accustom,acquire,...,year,yell,yellow,yes,yesterday,yet,yolk,young,zip,zum
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.091328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.140277,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.096980,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.102217,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
count_vect = CountVectorizer(ngram_range=(3,3))
ngram_vectors=count_vect.fit_transform(df.partitions)
df2 = pd.DataFrame(ngram_vectors.toarray(),columns=count_vect.get_feature_names())
df2

C:\Users\Al-Yousr Store\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abandon abandon repeat,abandon little brother,abandon repeat cat,able announce extraordinary,able catch glimpse,able eat five,able fight marionette,able keep starving,able let scream,able live happily,...,yet spite numbness,yolk egg little,young emperor rule,young man get,young overnight spick,young tender spring,zip associate file,zum suddenly find,zum zum suddenly,zum zum zum
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
def read_book(url) :
    response = request.urlopen(url)
    lines = (response.read().decode('utf8')).lower()
    book = regexp_tokenize(lines,r'([a-zA-Z]{3,})[\,|\s|\.]')
    tokens = [token for token in book if token.lower() not in stop_words]
    books =[]
    for i in range(200) :
        start = random.randint(0 , len(tokens) - 100)
        books.append([' '.join(tokens[start: start + 100])])    
    df = pd.DataFrame(books, columns=["partitions"])
    return df

In [30]:
def five_books(list_of_urls) :
    df_full = pd.DataFrame()
    for i in list_of_urls :
        df = read_book(i)
        df_full = df_full.append(df,ignore_index=True)
    return df_full

In [31]:
gg=five_books(books_list)

C:\Users\Al-Yousr Store\AppData\Local\Temp\ipykernel_16752\3360135717.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_full = df_full.append(df,ignore_index=True)
C:\Users\Al-Yousr Store\AppData\Local\Temp\ipykernel_16752\3360135717.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_full = df_full.append(df,ignore_index=True)
C:\Users\Al-Yousr Store\AppData\Local\Temp\ipykernel_16752\3360135717.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_full = df_full.append(df,ignore_index=True)
C:\Users\Al-Yousr Store\AppData\Local\Temp\ipykernel_16752\3360135717.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_full = df_full.append(df,ignore_index=True)
C:\Users\Al-Yousr Store\AppData\Local\Temp\ipykernel_16752\3360135717.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_full = df_full.append(df,ignore_index=True)

In [32]:
gg

                                            partitions
0    like hay cried angrily wait pretty donkey teac...
1    foundation royalty payments must paid within d...
2    eel escape green fisherman took stout cord tie...
3    fine mullets said looking smelling pleasure th...
4    warranties merchantibility fitness purpose sta...
..                                                 ...
995  three miles distant gave convenient mill withi...
996  hearing utter absurdities concluded however su...
997  marks rational creature pointed every thing in...
998  indicate read understand agree accept terms li...
999  honour let know whole mystery method proceed f...

[1000 rows x 1 columns]

In [33]:
gg.tail(300)

                                            partitions
700  driest thing know silence round william conque...
701  away without speaking last unfolded arms took ...
702  another dig sharp little chin right think said...
703  door instance might knock could let know looki...
704  appearing work must comply either requirements...
..                                                 ...
995  three miles distant gave convenient mill withi...
996  hearing utter absurdities concluded however su...
997  marks rational creature pointed every thing in...
998  indicate read understand agree accept terms li...
999  honour let know whole mystery method proceed f...

[300 rows x 1 columns]

In [ ]:
def books_df(book) :
    books = []
    for i in range(200) :
        starting = random.randint(0 , len(book) - 100)
        books.append([' '.join(book[starting: starting + 100]), re.sub(r".txt", "", i)])    
    df = pd.DataFrame(books, columns=["partitions", "Name of The Book"])
    return df